@using System.Collections.Generic;
@using System.Reflection.Metadata;
@using System.Xml.Linq;
@using System.Windows.Input
@using DRNews.Model
@using DRNews.Service
@page "/news/{selectedCategory}"
@inject INewsService newsService

@if (newsItems == null)
{
    <p>Loading...</p>
}
else
{
    <div>
@*         <button @onclick='() => FilterNewsItems("SenesteNyt")'>Seneste Nyt</button>
        <button @onclick='() => FilterNewsItems("Indland")'>Indland</button>
        <button @onclick='() => FilterNewsItems("Udland")'>Udland</button> *@
    </div>
        @foreach (var item in newsItems)
        {
        <div class="news-container">
            @if (!string.IsNullOrEmpty(item.Image))
            {
                <div class="image-container">
                    <img src="@item.Image" alt="News Image" class="news-image" />
                </div>
            }
            else
            {
                <div class="image-container">
                    <img src="images/newsimage.jpg" alt="News Image" class="news-image" />
                </div>
            }
            <div class="content-container">
                <h4>@item.Title</h4>
                <p class="news-date">@item.Date</p>
            </div>
        </div>
        }
}
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private List<NewsItem> newsItems;

    [Parameter]
    public string selectedCategory { get; set; } = "SenesteNyt";


    protected override async Task OnInitializedAsync()
    {
        // Listen for category selection messages
        MessagingCenter.Subscribe<MainPage, string>(this, "CategorySelected", async (sender, category) =>
    {
        selectedCategory = category;
        await LoadNewsItems(selectedCategory);
        StateHasChanged(); // Ensure UI refresh after category change
    });


        // Load news items for the default category
        await LoadNewsItems(selectedCategory);
    }

    private async Task LoadNewsItems(string category)
    {
        // Load news items based on the selected category
        newsItems = await newsService.GetNewsAsync(category);
    }
}

